page {
  background-color: #eeeeee;
}
.fb_main {
  padding: 20rpx;
  color: #666;
  .fb_tips {
    display: flex;
    flex-wrap: wrap;
    text {
      width: 30%;
      padding: 10rpx;
      text-align: center;
      padding: 20rpx;
      background-color: #ffffff;
      margin: 20rpx 10rpx;
    }
  }

  .fb_content {
    background-color: #ffffff;
    margin-top: 20rpx;
    textarea {
      padding: 10rpx;
    }
    .fb_tool {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 30rpx;
      .fb_btn {
        margin: 0;
        width: 90rpx;
        height: 90rpx;
        font-size: 60rpx;
        padding: 0;
        margin-left: 20rpx;
        margin-top: 20rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #cccccc;
        
      }
      .up_img_item {
        margin-left: 20rpx;
        margin-top: 20rpx;
      }
    }
  }

  .form_btn_wrap {
    margin-top: 20rpx;
    display: flex;
    justify-content: flex-end;
    .form_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      background-color: #fa5151;
      color: #f2f2f2;
      margin: 0;
    }
  }
}